.big-product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-product-image {
  width: 80%;
  max-width: 500px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.prev-btn,
.next-btn {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.prev-btn {
  position: absolute;
  left: 10px;
}

.next-btn {
  position: absolute;
  right: 10px;
}

@media (max-width: 800px) {
  .big-product-image-container {
    height: 300px;
    overflow: hidden;
  }
  .big-product-image {
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    object-position: center;
  }

  .prev-btn,
  .next-btn {
    display: flex;
  }
}
