.big-product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-product-image {
  width: 80%;
  max-width: 500px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

@media (max-width: 800px) {
  .big-product-image-container {
    height: 300px;
    overflow: hidden;
  }
  .big-product-image {
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    object-position: center;
  }
}
