.products {
  margin-top: 1rem;
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 80vw;
  margin-top: 5vh;
  padding: 1rem;
  max-width: 1400px;
}
