.details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  max-width: 400px;
  min-width: 270px;
  user-select: none;
}

.product-name {
  font-size: 2.3rem;
  text-wrap: wrap;
}

.company-name {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.company-name,
.product-description {
  color: var(--dark-grayish-blue);
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-weight: 700;
  font-size: 1.5rem;
}

.discount {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.last-price {
  color: var(--dark-grayish-blue);
  font-weight: bold;
  text-decoration: line-through;
  font-size: 0.8rem;
  margin-left: auto;
  width: 100%;
}

.cart-buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: nowrap;
  gap: 1rem;
}

@media (max-width: 800px) {
  .details-container {
    width: 90%;
  }

  .product-container {
    justify-items: center;
  }
  .cart-buttons-container {
    flex-direction: column;
    width: 100%;
  }

  .last-price {
    width: fit-content;
  }
}
