header {
  display: flex;
  justify-content: start;
  gap: clamp(0rem, 5vw, 1rem);
  width: 80vw;
  height: 8vh;
  min-height: 100px;
  min-width: fit-content;
  max-width: 1400px;
}

.right-buttons-container {
  display: flex;
  gap: 1rem;
  justify-self: end;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 5%;
    min-height: 80px;
    background-color: var(--white);
    z-index: 5;
  }
}
