.orange-button {
  color: var(--black);
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
  font-weight: bold;
}

.orange-button:hover {
  cursor: pointer;
  background-color: var(--pale-orange);
}
