.amount-button {
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
}

.minus,
.plus,
.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background-color: var(--light-grayish-blue);
}

.amount {
  padding: 0;
  font-weight: bold;
  width: 4rem;
}

.minus:hover,
.plus:hover {
  cursor: pointer;
  opacity: 0.5;
}
