.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page h1 {
  color: var(--very-dark-blue);
  text-decoration: underline;
  margin-top: 1rem;
  padding: 10px;
}

.horizontal-line {
  width: 80vw;
  border-top: 1px solid hsla(220, 14%, 75%, 0.372);
  max-width: 1100px;
}

@media (max-width: 1000px) {
  .horizontal-line {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 800px) {
  .horizontal-line {
    display: none;
  }
}
