.nav-link {
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  min-width: 20px;
  padding: 0 15px;
}

.nav-link:hover {
  color: var(--blakc);
  border-bottom: 4px solid var(--orange);
  cursor: pointer;
}

.link {
  margin-bottom: 0.9rem;
}
