.nav-link {
  display: flex;
  align-items: center;
  min-width: 20px;
  padding: 0 15px;
  user-select: none;
}

.nav-link:hover {
  color: var(--blakc);
  border-bottom: 4px solid var(--orange);
  cursor: pointer;
}

.link {
  margin-bottom: 0.9rem;
}

@media (max-width: 800px) {
  .nav-link:hover {
    border-bottom: none;
    color: var(--dark-grayish-blue);
  }
}
